html, body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', cursive;
}

/* Layout */

body {
    height: 1161px;
    width: 600px;
    border: 1px solid lightgray;
}
header, section {
    margin: 0 auto;
}

header {
    height: 167px;
    color: whitesmoke;
}

.food-item-list {

}

.order-list {
    width: 600px;
}

header {
    background-image: url(images/header-background.jpg);
    background-position: center;
    background-size: cover;
}

.item {
    display: flex;
    width: 600px;
    position: relative;
    z-index: 1;
    padding: 20px 0;
}

.item::before {
    content: "";
    position: absolute;
    left: 75px;
    bottom: 0;
    height: 1px;
    width: 75%;
    border-top: 1px solid lightgray;
}

.order-items {
    display: flex;
    padding: 25px;
}

.order-text {
    margin-left: 12px;
    line-height: 5px;
}

.total-order {
    display: flex;
    justify-content: space-between;
    font-size: 24px
}

.order-line {
    border: 1px black solid;
    width: 89%;
    margin: auto;
}

/* Typography and icons */

h1, h3 {
    padding-left: 30px;
    margin: 0;
}

h1 {
    padding-top: 50px;
    padding-bottom: 10px;
}

h3 {
    padding-bottom: 30px;
}

.item-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-name {
    font-size: 28px;
}

.order-name {
    font-size: 24px;
    margin-left: 13px;
}

.total-order {
    padding-left: 35px;
}

.item-ingredients {
    font-size: 16px;
    color: #8b8b8b;
}

.item-price {
    font-size: 20px;
    padding-right: 35px;
}

.item-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

p, i {
    margin: 14px 0;
}

.total-price {
    padding-right: 60px;
}

.your-order {
    text-align: center;
}

/* Buttons */

button {
    cursor: pointer;
}

button:hover {
    opacity: .5;
}

.add-btn {
    margin-right: 60px;
    border: none;
    background-color: white;
    background-image: url(images/plus.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 25px;
    height: 25px;
}

.remove-btn {
    border: none;
    background-color: white;
    color: #8b8b8b;
    font-size: 10px;
}

.complete-order-btn {
    margin: 0 auto;
    display: block;
    padding: 10px 215px;
    border: none;
    border-radius: 5px;
    background-color: #16DB99;
    color: white;
    font-weight: bold;
}

.complete-order-btn:hover {
    opacity: .8;
    color: black;
}

/* Images */

.item-pic {
    width: 70px;
    padding: 0 25px;
}